@media (hover: hover) {
	tbody tr:hover {
		background-color: var(--hover-color);
	}
}
.select {
	background-color: var(--hover-color) !important;
}

table th, td {
	cursor: pointer;
}
table th {
	user-select: none;
}

tbody > tr > td:first-child > div {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	padding: 2px 0 2px 10px;
}
tbody > tr > td:nth-child(2),
tbody > tr > td:nth-child(3) {
	padding-left: 5px;
	padding-right: 5px;
}

tfoot > tr > td {
	border-top: 1px solid gray;
	border-bottom: none;
	padding: 5px;
	text-align: left;
}
tfoot > tr > td > div {
	background-image: url("../images/share.min.svg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 1.1em;
	font-size: 0.90em;
	padding: 0px 0px 0px 1.4em;
}

.comment {
	font-size: 1.2em;
	font-weight: normal;
	padding: 0 5px;
	text-wrap: nowrap;
}

ul {
	list-style: none;
	padding-left: 10px;
}

thead th > div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 7px 4px 7px;
}

:root {
	--typed_array_method-color: rgb(9, 255, 0);
}
table > tbody > tr.typed_array_method > td:first-child {
	position: relative;
}
table > tbody > tr.typed_array_method > td:first-child::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background-color: var(--typed_array_method-color);
}
.typed_array_method-label {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: var(--typed_array_method-color);
}
